<md-content layout="row" layout-margin layout-align="center">
    <md-content flex flex-gt-md="50">
        <h1>Account</h1>
        <h2>Change Password</h2>
        <form name="form" ng-submit="ctrl.changePassword()" novalidate>
            <md-input-container>
                <label>Old Password</label>
                <input ng-model="ctrl.vm.password" aria-label="Type old Password" type="password" required>
            </md-input-container>
            <md-input-container>
                <label>New Password</label>
                <input ng-model="ctrl.vm.newPassword" aria-label="Type new Password" type="password" required>
            </md-input-container>
            <md-input-container>
                <label>Confirm Password</label>
                <input ng-model="ctrl.vm.newPasswordConfirm" aria-label="Confirm new Password" type="password" match="ctrl.vm.newPassword" required>
            </md-input-container>

            <div layout="row">
                <md-button class="md-raised md-primary" aria-label="Save new Password" ng-disabled="form.$invalid">Save</md-button>
                <md-button ui-sref="home" aria-label="Go to Home">Cancel</md-button>
            </div>
        </form>
        <h2>Delete Account</h2>
        <p>Once you delete your Account, there is no going back. Please be certain.</p>
        <md-button class="md-raised md-warn" aria-label="Delete my Account" ng-click="ctrl.deleteAccount()">Yes, delete my account</md-button>
    </md-content>
</md-content>
