<md-content layout-margin>

    <nav class=".md-subhead breadcrumb">
        <span><a ui-sref="home">links</a></span>
        <span><a ui-sref="account.details">account</a></span>
        <span>change password</span>
    </nav>

    <md-content layout="row" layout-margin layout-align="center">
        <md-content flex flex-gt-md="50">
            <form name="form" ng-submit="ctrl.changePassword()" novalidate>
                <md-input-container>
                    <label>Old Password</label>
                    <input name="oldPassword" ng-model="ctrl.vm.password" aria-label="Type old Password" type="password" minlength="4" md-maxlength="16" required>
                    <div ng-messages="form.oldPassword.$error" ng-show="form.oldPassword.$dirty">
                        <div ng-message="required">old Password is required!</div>
                        <div ng-message="minlength">min Password length is 4!</div>
                        <div ng-message="md-maxlength">max Password length is 16</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>New Password</label>
                    <input name="newPassword" ng-model="ctrl.vm.newPassword" aria-label="Type new Password" type="password" minlength="4" md-maxlength="16" required>
                    <div ng-messages="form.newPassword.$error" ng-show="form.newPassword.$dirty">
                        <div ng-message="required">new Password is required</div>
                        <div ng-message="minlength">min Password length is 4</div>
                        <div ng-message="md-maxlength">max Password length is 16</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Confirm Password</label>
                    <input name="confirmPassword" ng-model="ctrl.vm.newPasswordConfirm" aria-label="Confirm new Password" type="password" match="ctrl.vm.newPassword" minlength="4" md-maxlength="16" required>
                    <div ng-messages="form.confirmPassword.$error" ng-show="form.confirmPassword.$dirty">
                        <div ng-message="required">confirm Password is required</div>
                        <div ng-message="minlength">min Password length is 4</div>
                        <div ng-message="md-maxlength">max Password length is 16</div>
                        <div ng-message="match">passwords don't match</div>
                    </div>
                </md-input-container>

                <div layout="row">
                    <md-button class="md-raised md-primary" aria-label="Save new Password" ng-disabled="form.$invalid">Save</md-button>
                    <md-button ui-sref="^.details" aria-label="back to account">Cancel</md-button>
                </div>
            </form>
        </md-content>
    </md-content>

</md-content>
