<md-content layout="row" layout-margin layout-align="center">
    <md-content flex flex-gt-md="50">
        <h1>Register</h1>
        <form name="form" ng-submit="ctrl.register()" novalidate>
            <md-input-container>
                <label>Username</label>
                <input name="Username" ng-model="ctrl.vm.username" aria-label="Type your new Username" type="text" minlength="4" md-maxlength="16" required>
                <div ng-messages="form.Username.$error" ng-show="form.Username.$dirty">
                    <div ng-message="required">Username is required!</div>
                    <div ng-message="minlength">Username is too short!</div>
                    <div ng-message="md-maxlength">Username is too long!</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input name="Password" ng-model="ctrl.vm.password" aria-label="Type your new Password" type="password" minlength="4" md-maxlength="16" required>
                <div ng-messages="form.Password.$error" ng-show="form.Password.$dirty">
                    <div ng-message="required">Password is required!</div>
                    <div ng-message="minlength">Password is too short!</div>
                    <div ng-message="md-maxlength">Password is too long!</div>
                </div>
            </md-input-container>

            <div layout="row">
                <md-button class="md-raised md-primary" aria-label="Register" type="submit" ng-disabled="form.$invalid">Register</md-button>
                <md-button ui-sref="home" aria-label="Go to Home">Cancel</md-button>
            </div>
        </form>
    </md-content>
</md-content>
