<md-list>
    <md-list-item class="md-3-line" layout="row">
        <linkit-rater votes="ctrl.topic.votes" onupdate="ctrl.vote(ctrl.topic)"></linkit-rater>
        <article flex>
            <h3><a class="md-display-1" href="{{ctrl.url(ctrl.topic.content)}}" target="_blank" aria-label="Go to Topic URL">{{ctrl.topic.title}}</a></h3>
            <div class="md-list-item-text">
                <p><span am-time-ago="ctrl.topic.creationDate" aria-label="Submitted Time"></span> by <span aria-label="Topic Creator">{{ctrl.topic.creator.username | account}}</span></p>
                <p aria-label="Total Comments">
                    <md-icon class="fa fa-comment" aria-label="Comment Icon"></md-icon>{{ctrl.topic.comments.length}} comments
                </p>
                <div class="md-actions" ng-if="ctrl.isOwner(ctrl.topic)">
                    <md-button class="md-warn md-hue-2" ng-click="ctrl.remove()" aria-label="Delete Topic">Delete</md-button>
                </div>
            </div>
        </article>
    </md-list-item>
</md-list>

<md-content ng-if="ctrl.isAuthenticated()" layout-margin>
    <form name="ctrl.form" ng-submit="ctrl.addComment()" novalidate>
        <md-input-container>
            <label>Enter a comment</label>
            <textarea name="Comment" required ng-model="ctrl.comment" rows="2" aria-label="Type your comment" md-maxlength="255"></textarea>
            <div ng-messages="ctrl.form.Comment.$error" ng-show="ctrl.form.Comment.$dirty">
                <div ng-message="required">Comment is required!</div>
                <div ng-message="md-maxlength">Comment is too long!</div>
            </div>
        </md-input-container>
        <section layout="row">
            <md-button class="md-raised md-primary" type="submit" ng-disabled="ctrl.form.$invalid" aria-label="Submit comment">Comment</md-button>
        </section>
    </form>
</md-content>

<md-list>
    <md-list-item class="md-3-line" layout="row" ng-repeat="comment in ctrl.topic.comments">
        <linkit-rater votes="comment.votes" onupdate="ctrl.voteComment(comment)"></linkit-rater>
        <article flex>
            <h4 class="md-title" aria-label="Comment Title">{{comment.content}}</h4>
            <div class="md-list-item-text">
                <p aria-label="Comment Details"><span am-time-ago="comment.creationDate" aria-label="commented Time"></span> by <span aria-label="Comment Creator">{{comment.creator.username | account}}</span></p>
                <a ng-if="ctrl.isOwner(comment)" ng-click="ctrl.removeComment(comment)" class="md-button md-warn md-hue-2" aria-label="Delete Comment">Delete</a>
            </div>
        </article>
        <md-divider></md-divider>
    </md-list-item>
</md-list>
