<md-content flex layout-margin>
    <nav class=".md-subhead breadcrumb">
        <span>links</span>
        <span><a href="" ng-click="ctrl.toCreate()" aria-label="create link">create link</a></span>
    </nav>
    <md-list>
        <md-list-item class="md-3-line" ng-repeat="topic in ctrl.topics" layout="row">
            <linkit-rater votes="topic.votes" onupdate="ctrl.vote(topic)"></linkit-rater>
            <article flex>
                <h3 class="md-headline"><a ui-sref="detail(topic)">{{topic.title}}</a></h3>
                <div class="md-list-item-text">
                    <span><a title="{{topic.title}}" aria-label="Topic Title" href="{{topic.content}}" target="_blank">{{topic.content}}</a></span>
                    <p>
                        <span am-time-ago="topic.creationDate" aria-label="Submitted Time"></span> by <span aria-label="Topic Creator">{{topic.creator.username | account}}</span>
                    </p>
                    <div aria-label="Total Comments">
                        <a ui-sref="detail(topic)"><md-icon class="fa fa-comment" aria-label="View Topic Detail"></md-icon>comments ({{topic.comments.length}})</a>
                    </div>
                </div>
            </article>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
</md-content>
