@import '../../variables';

.rater {
    color: $grey;
    border: 1px solid $light-grey;
    padding: 10px 20px;

    md-icon {
        width: 15px;
    }

    &.voted .fa-star {
        color: $secondary;
    }
}


