<md-content layout="row" layout-margin layout-align="center">
    <md-content flex flex-gt-md="50">
        <h1>Account</h1>
        <form name="form" ng-submit="ctrl.changePass()" novalidate>
            <md-input-container>
                <label>Old Password</label>
                <input ng-model="ctrl.vm.password" type="password" required>
            </md-input-container>
            <md-input-container>
                <label>New Password</label>
                <input ng-model="ctrl.vm.newPassword" type="password" required>
            </md-input-container>

            <div layout="row">
                <md-button class="md-raised md-primary" ng-disabled="form.$invalid">Save</md-button>
                <md-button ui-sref="home">Cancel</md-button>
            </div>
        </form>
    </md-content>
</md-content>
