<md-content layout-margin>
    <h1>create</h1>

    <form ng-submit="ctrl.create()">

        <md-input-container>
            <label>Title</label>
            <input type="text" ng-model="ctrl.vm.title">
        </md-input-container>
        <md-input-container>
            <label>URL</label>
            <input type="text" ng-model="ctrl.vm.content"></input>
        </md-input-container>

        <section layout="row">
            <md-button class="md-raised md-primary">Create</md-button>
            <md-button ui-sref="home">Cancel</md-button>
        </section>
    </form>
</md-content>
