<md-content layout="row" layout-margin layout-align="center">
    <md-content flex flex-gt-md="50">
        <h1>Submit a link</h1>
        <form name="form" ng-submit="ctrl.create()" novalidate>
            <md-input-container>
                <label>Descriptive Title</label>
                <input type="text" ng-model="ctrl.vm.title" required>
            </md-input-container>
            <md-input-container>
                <label>URL</label>
                <input type="text" ng-model="ctrl.vm.content" required>
            </md-input-container>

            <section layout="row">
                <md-button class="md-raised md-primary" ng-disabled="form.$invalid">Create</md-button>
                <md-button ui-sref="home">Cancel</md-button>
            </section>
        </form>
    </md-content>
</md-content>
