<md-list>
    <md-list-item class="md-3-line" layout="row">
        <linkit-rater votes="ctrl.topic.votes" onupdate="ctrl.vote(ctrl.topic)"></linkit-rater>
        <div class="md-list-item-text" flex>
            <h3><a class="md-display-1" href="{{ctrl.url(ctrl.topic.content)}}" target="_blank">{{ctrl.topic.title}}</a></h3>
            <h4>eingereicht <span am-time-ago="ctrl.topic.creationDate"></span> von <a href="">{{ctrl.topic.creator.username}}</a></h4>
            <p>
                <md-icon class="fa fa-comment" aria-label="View Topic Detail"></md-icon>{{ctrl.topic.comments.length}} comments
            </p>
            <div class="md-actions">
                <md-button class="md-warn md-hue-2" ng-click="ctrl.remove()">delete</md-button>
            </div>
        </div>
    </md-list-item>
</md-list>

<md-content layout-margin>
    <form name="ctrl.form" ng-submit="ctrl.addComment()" novalidate>
        <md-input-container>
            <label>enter a comment</label>
            <textarea required ng-model="ctrl.comment" rows="2"></textarea>
        </md-input-container>
        <section layout="row">
            <md-button class="md-raised md-primary" type="submit" ng-disabled="ctrl.form.$invalid">Comment</md-button>
        </section>
    </form>
</md-content>
<md-list>
    <md-list-item ng-repeat="comment in ctrl.topic.comments">
        <linkit-rater votes="comment.votes" onupdate="ctrl.voteComment(comment)"></linkit-rater>
        <div class="md-list-item-text">
            <h4 class="md-title" >{{comment.content}}</h4>
            <p>kommentiert <span am-time-ago="comment.creationDate"></span> von <a>{{comment.creator.username}}</a></p>
            <a ng-click="ctrl.removeComment(comment)" class="md-button md-warn md-hue-2">delete</a>
        </div>
        <md-divider></md-divider>
    </md-list-item>
</md-list>
