$maincolor: grey;

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: $maincolor;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.account {
    display: flex;
    > * {
        padding-left: 1rem;
    }
}

