$maincolor: grey;

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: $maincolor;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.account {
    display: flex;
    > * {
        padding-left: 1rem;
    }
}

.link {
    display: flex;
    flex-direction: row;
    border-bottom: solid grey 1px;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.rater {
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
}

.comment {
    padding: 0.5rem;
}

.comment-separator {
    border-bottom: solid lightgray 1px;
}
