@import 'variables';

[ng-click] {
    cursor: pointer;
}

p {
    a:link,
    a:visited {
        color: $primary;
    }

    a:active,
    a:hover {
        color: darken($primary, 20%);
        text-decoration:underline
    }
}

.md-button.active {
    background-color: $light-grey;
}

.md-display-1 {
    text-decoration: none;
    color: #111;
}

.logo {
    margin-top: 10px;
    width: 100%;
}

.share {
    border: 1px solid $light-grey;
    background: #fbfbfb;
    padding: 20px;
    width: 250px;
}
