<md-content layout="row" layout-margin layout-align="center">
    <md-content flex flex-gt-md="50">
        <h1>Register</h1>
        <form name="form" ng-submit="ctrl.register()" novalidate>
            <md-input-container>
                <label>Username</label>
                <input ng-model="ctrl.vm.username" type="text" required>
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input ng-model="ctrl.vm.password" type="password" required>
            </md-input-container>

            <div layout="row">
                <md-button class="md-raised md-primary" type="submit" ng-disabled="form.$invalid">Register</md-button>
                <md-button ui-sref="home">Cancel</md-button>
            </div>
        </form>
    </md-content>
</md-content>
