<form ng-submit="ctrl.register()">
    <md-input-container>
        <input ng-model="ctrl.vm.username" type="text" placeholder="username">
    </md-input-container>
    <md-input-container>
        <input ng-model="ctrl.vm.password" type="password" placeholder="password">
    </md-input-container>

    <div layout="row">
        <md-button class="md-raised md-primary" type="submit" ng-disabled="ctrl.vm.username.length < 3 || ctrl.vm.password.length < 3">Register</md-button>
        <md-button ui-sref="home">Cancel</md-button>
    </div>
</form>
